<div class="heading">
    <img src="https://fnf.com/FNF/media/media/images/FNF_Logo_White.png" alt="image">
</div>
<div class="login-container">
    <form>
        <h2>LOG IN</h2>
        <div class="form-group">
        <input type="email" name="email" [(ngModel)]="emp.empEmail" placeholder="Email">
        </div>
        <div class="form-group">
        <input type="password" name="password" [(ngModel)]="emp.empPassword" placeholder="Password">
        </div>
        <button type="submit" (click)="OnSubmit()">Login</button>   
        <br />
        <div>
            <span id="error"></span>
        </div>
    </form>
</div> 
<app-footer></app-footer>