<div class="heading d-flex align-items-center justify-content-between" id="heading">
    <div align="center">
      <a href="/"><img src="https://fnf.com/FNF/media/media/images/FNF_Logo_White.png" alt="image" class="logo"/></a>
    </div>
   
    <div class="d-flex">
        <ul class="navbar-nav d-flex flex-row align-items-center">
          <li class="nav-item">
            <h3 style="color: rgb(255, 255, 255);">FNF Meetings</h3>
          </li>
        </ul>
    </div>
</div>
<div class="login-container">
    <form>
        <h2>LOG IN</h2>
        <div class="form-group">
        <input type="email" name="email" [(ngModel)]="emp.empEmail" placeholder="Email">
        </div>
        <div class="form-group">
        <input type="password" name="password" [(ngModel)]="emp.empPassword" placeholder="Password">
        </div>
        <button type="submit" (click)="OnSubmit()" class="fa-solid fa-arrow-right fa-pull-right">
           login
        </button>   
        <br />
        <div>
            <span id="error"></span>
        </div>
    </form>
</div> 
<app-footer></app-footer>