.employee-details {
margin: 20px 0;
}

table {
width: 100%;
border-collapse: collapse;
}

th, td {
padding: 10px;
border: 1px solid #ddd;
}
.slot-upper{
    display: flex;
}
.high{
    color: red
}