<app-header></app-header>
<div class="container mt-4">
  <div class="heading d-flex align-items-center justify-content-between" id="heading">
    <h1>Welcome! {{emp.empName}}</h1>
    <div class="d-flex">
      <ul class="navbar-nav d-flex flex-row align-items-center">
        <li class="nav-item">
          <button type="submit" class="btn btn-primary me-2" (click)="goToLink('http://localhost:4200/employee-page/my-bookings')">My Booking</button>
        </li>
        <li>
          <button type="submit" class="btn btn-primary" [routerLink]="['change-password']">Change password</button>
        </li>
      </ul>
    </div>
  </div>
  <h2 class="text-center">Select Your Meeting Room</h2>
  <form class="row g-3" id="dinput" (ngSubmit)="onSearch()"  #roomForm="ngForm">

    <div class="col-md-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" id="date" [(ngModel)]="date" name="date" required  #dateInput="ngModel"/>
      <div *ngIf="dateInput.invalid && dateInput.touched" class="text-danger">
        Date is required.
      </div>
    </div>

    <div class="col-md-3">
      <label for="startTime" class="form-label">Start Time</label>
      <input type="time" class="form-control" id="starttime" [(ngModel)]="stime" name="starttime" required  #startTimeInput="ngModel"/>
      <div *ngIf="startTimeInput.invalid && startTimeInput.touched" class="text-danger">
        Start Time is required.
      </div>
    </div>

    <div class="col-md-3">
      <label for="endTime" class="form-label">End Time</label>
      <input type="time" class="form-control" id="endtime" [(ngModel)]="etime" name="endtime" required  #endTimeInput="ngModel">
      <div *ngIf="endTimeInput.invalid && endTimeInput.touched" class="text-danger">
        End Time is required.
      </div>
    </div>

    <div class="col-md-3">
      <label for="capacity" class="form-label">Capacity</label>
      <select class="form-control" id="capacity" [(ngModel)]="room.capacity" name="capacity" required #capacityInput="ngModel">
        <option value="" disabled selected>Select Capacity</option>
        <option value=5>5</option>
        <option value=10>10</option>
        <option value=15>15</option>
      </select>
      <div *ngIf="capacityInput.invalid && capacityInput.touched" class="text-danger">
        Capacity is required.
      </div>
    </div>
    <div class="col-12" style="text-align: center;">
      <button type="submit" class="btn btn-primary"  [disabled]="roomForm.invalid">Search</button>
    </div>
    <span class="text-danger" id="error"></span>
  </form>
  <br />
  <br />
</div>
<div class="room-details">
  <table *ngIf="!roomForm.invalid">
      <thead>
          <tr>
              <th>Room Id</th>
              <th>Room Name</th>
              <th>Capacity</th>
              <th>Availability</th>
              <th>Options</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of validRooms">
          <td>{{room.roomId}}</td>
          <td>{{room.roomName}}</td>
          <td>{{room.capacity}}</td>
          <td>{{room.available}}</td>
          <td>
            <button class="btn btn-warning"  (click)="goToLink('http://localhost:4200/room-slots/'+room.roomId.toString())">View Slots</button>
            <button class="btn btn-success" (click)="BookSlot(room.roomId)">Book Slot</button>
          </td>
        </tr><tr *ngFor="let room of invalidRooms" style="background-color: #E78587;">
          <td>{{room.roomId}}</td>
          <td>{{room.roomName}}</td>
          <td>{{room.capacity}}</td>
          <td>{{room.available}}</td>
          <td>
            <button class="btn btn-warning"  (click)="goToLink('http://localhost:4200/room-slots/'+room.roomId.toString())">View Slots</button>
          </td>
        </tr>
      </tbody>
  </table>
</div>
<app-footer></app-footer>