<form (ngSubmit)="saveChanges()">
    <label>
      Room ID:
      <input type="text" [(ngModel)]="room.roomId" name="roomId" disabled />
    </label>
    <label>
      Room Name:
      <input type="text" [(ngModel)]="room.roomName" name="roomName" />
    </label>
    <label>
      Capacity:
      <input type="number" [(ngModel)]="room.capacity" name="capacity" />
    </label>
    <label>
      Available:
      <input type="checkbox" [(ngModel)]="room.available" name="available" />
    </label>
    <button (click)="saveChanges()" type="submit">Save Changes</button>
  </form>
  