<div class="container">
    <header>
        <img src="https://fnf.com/FNF/media/media/images/FNF_Logo_White.png" alt="image">
    </header>
  
    <div class="employee-details">
      <h2>Employees Details!!!</h2>
      <button class="add-button" (click)="addEmployee()">ADD Employee</button><hr>
      <table>
        <thead>
          <tr>
            <th>EmpID</th>
            <th>EmpName</th>
            <th>EmpRole</th>
            <th>EmpEmail</th>
            <th>Available</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.role }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.available ? 'Yes' : 'No' }}</td>
            <td><button (click)="editEmployee(employee)">Edit</button></td>
          </tr>
        </tbody>
      </table>
  
    </div>
  
    <footer>
        <div id="footer-disclaimer" class="col-12 row">
          <div class="footer-copyright col-12 col-md-4">
            ©2012 -  2024
          Fidelity&nbsp;National&nbsp;Financial<br/>All&nbsp;Rights&nbsp;Reserved.
          </div>
          <div id="footer-standardlinks" class="footer-copyright col-12 col-md-8">
            <a href="/Notices">Notices</a>&nbsp;|&nbsp;
            <a href="/Accessibility">Accessibility</a>&nbsp;|&nbsp;
            <a href="/privacy-and-security">Privacy</a>&nbsp;|&nbsp;
            <a href="/California-Privacy">California&nbsp;Privacy</a>&nbsp;|&nbsp;
            <a href="/terms-of-use">Terms&nbsp;of&nbsp;Use</a>
          </div>
        </div>
      </footer>
  </div>
  
  
