<div class="container">
  

    <div class="employee-details">
      <h2>Employees Details!!!</h2>
      <button class="add-button"  [routerLink]="['/add-employee']">ADD Employee</button><hr>
      <table>
        <thead>
          <tr>
            <th>EmpID</th>
            <th>EmpName</th>
            <th>EmpRole</th>
            <th>EmpEmail</th>
            <th>Available</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.role }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.available ? 'Yes' : 'No' }}</td>
            <td><button class="edit-button" [routerLink]="['/edit-employee']">Edit</button></td>
          </tr>
        </tbody>
      </table>

    </div>
