.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Adjust this value as needed to control the spacing from the top */
    
    max-width: 800px;
    margin: 30px auto 10px auto;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 40px 40px 40px 40px rgba(0, 0, 0, 0.1);
}
 
.admin-option {
    margin: 15px 0;
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    text-align: center;
}
.admin-option button {
width: 100%;
padding: 10px 20px;
font-size: 18px;
background-color: #007bff; /* Button background color */
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.admin-option button:hover {
background-color: #0056b3; /* Darker shade on hover */
color: black;
}
 
button {
    padding-left: 10px;
    margin-top: 10px;
}
 
button:hover {
    color: #328ec4;
}
 