<app-header></app-header>
 
<div class="container mt-5">
  <div class="container1">
  <h2 class="mb-4 text-center" style="font-family: 'Times New Roman', Times, serif;">Edit Room</h2>
 
  <form (ngSubmit)="saveChanges()">
    <div class="form-group mb-3">
      <label for="roomId" class="form-label">Room ID:</label>
      <input type="text" [(ngModel)]="room.roomId" name="roomId" class="form-control" id="roomId" disabled />
    </div>
 
    <div class="form-group mb-3">
      <label for="roomName" class="form-label">Room Name:</label>
      <input type="text" [(ngModel)]="room.roomName" name="roomName" class="form-control" id="roomName" />
    </div>
 
    <div class="form-group mb-3">
      <label for="capacity" class="form-label">Capacity</label>
      <select class="form-control" id="capacity" [(ngModel)]="room.capacity" name="capacity" required
        #capacityInput="ngModel">
        <option value="" disabled selected>Select Capacity</option>
        <option value=5>5</option>
        <option value=10>10</option>
        <option value=15>15</option>
      </select>
      <div *ngIf="capacityInput.invalid && capacityInput.touched" class="text-danger">
        Capacity is required.
      </div>
    </div>
 
    <div class="form-group mb-3">
      <label for="available" class="form-label">Available:</label>
      <div class="custom-control custom-switch">
        <input type="checkbox" [(ngModel)]="room.available" name="available" class="custom-control-input" id="available" />
        <label class="custom-control-label" for="available"></label>
      </div>
    </div>
 
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>
</div>
<app-footer></app-footer>