<div class="container mt-4">
    <h2 class="text-center">My Bookings</h2>
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">Room Name</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings">
          <td>{{ booking.roomName }}</td>
          <td>{{ booking.date }}</td>
          <td>{{ booking.time }}</td>
          <td><button class="btn btn-danger" (click)="cancelBooking(booking.id)">Cancel</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  