<app-header></app-header>
<div class="room-container">
  <div class="employee-details text-center">
 
    <div class="heading d-flex align-items-center justify-content-between" id="heading">
      <h2 class="text-center mb-4" style="font-family: 'Times New Roman', Times, serif;">Room Details</h2>
      <div class="d-flex">
        <ul class="navbar-nav d-flex flex-row align-items-center">
          <li>
            <div class="d-flex justify-content-center mb-3">
              <button class="btn btn-success" [routerLink]="['add-room']">
                <i class="fas fa-plus"></i> Add Room
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <table >
      <thead>
        <tr>
          <th>Room Name</th>
          <th>Capacity</th>
          <th>Available</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms"  [ngStyle]="{'background-color': room.available ? 'white' : '#E78587'}">
          
          <td>{{ room.roomName }}</td>
          <td>{{ room.capacity }}</td>
          <td>{{ room.available ? 'Yes' : 'No' }}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-primary btn-sm" [routerLink]="['edit-room', room.roomId]">
                <i class="fas fa-edit"></i> Edit
              </button>
              <button class="btn btn-warning btn-sm" [routerLink]="['/room-slots', room.roomId]">
                <i class="fas fa-edit"></i> View Slots
              </button>
              <button class="btn btn-danger btn-sm" (click)="deleteRoom(room.roomId)">
                <i class="fas fa-trash"></i> Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
   
  </div>
</div>
<app-footer></app-footer>