<div class="container">
  

    <div class="employee-details">
      <h2>Room Details!!!</h2>
      <button class="add-button"  [routerLink]="['/add-room']">Add Room</button><hr>
      <table>
        <thead>
          <tr>
            <th>RoomID</th>
            <th>Room Name</th>
            <th>Capacity</th>
            <th>Available</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms">
            <td>{{ room.roomId}}</td>
            <td>{{ room.roomName }}</td>
            <td>{{ room.capacity}}</td>
            <td>{{ room.available ? 'Yes' : 'No' }}</td>
            <td><button class="edit-button" [routerLink]="['/edit-room',room.roomId]">Edit</button>
            <button class="delete-button" (click)="deleteRoom(room.roomId)">Delete</button>
            </td>
            
          
          </tr>
        </tbody>
      </table>

    </div>