.container {
    padding: 20px;
  }
 
  /* Header styling */
  h2 {
    font-size: 24px;
    color: #333;
  }
 
  /* Form styling */
  .form-group {
    margin-bottom: 1rem;
  }
 
  .form-label {
    font-weight: 600;
    margin-bottom: .5rem;
  }
 
  .form-control {
    border-radius: .25rem;
    border: 1px solid #ced4da;
  }
 
  /* Custom switch styling */
  .custom-control {
    display: flex;
    align-items: center;
  }
 
  .custom-control-input {
    position: absolute;
    opacity: 0;
  }
 
  .custom-control-label {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
    background-color: #e9ecef;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
 
  .custom-control-label::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #007bff;
    transition: transform 0.3s;
  }


  .custom-control-label ~ .custom-control-label{
    background-color: rgb(255, 255, 255);
  }
 
  .custom-control-input:checked ~ .custom-control-label {
    background-color: #007bff;
  }
 
  .custom-control-input:checked ~ .custom-control-label::before {
    transform: translateX(26px);
    background-color: #ffffff;
  }
 
  /* Button styling */
  .btn-primary {
    background-color: #007bff; /* Bootstrap primary color */
    border-color: #007bff;
  }
 
  .btn-primary:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    border-color: #004085;
  }
  .container1 {
    max-width: 600px;
    margin: 30px auto 10px auto;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.1);
}