<app-header></app-header>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2 class="text-center mb-4">Change Password</h2>
      <form #changePassForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="newPassword">New Password</label>
          <input type="password" class="form-control" id="pass" name="pass" #pass="ngModel" [(ngModel)]="password" placeholder="Enter new password" required>
          <div *ngIf="pass.touched && pass.invalid"  class="text-danger">Password Required</div>
        </div>
        <div class="form-group mb-4">
          <label for="confirmPassword">Confirm New Password</label>
          <input type="password" class="form-control" id="confirmPass" name="confirmPass" #conpass="ngModel" [(ngModel)]="confirmPass" placeholder="Confirm new password" required>
          <div *ngIf="conpass.touched && conpass.invalid"  class="text-danger">Re-Enter Password</div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="conpass.invalid">Change Password</button>
        </div>
        <div *ngIf="changePassForm.invalid && conpass.touched" class="text-danger"></div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>