<app-header></app-header>
<div class="container mt-5">
  <div class="employee-details">
    <div class="heading d-flex align-items-center justify-content-between" id="heading">
      <h2>Employees Details!!!</h2>
      <div class="d-flex">
        <ul class="navbar-nav d-flex flex-row align-items-center">
          <li class="nav-item">
            <button class="add-button" [routerLink]="['add-employee']">
              <i class="fas fa-user-plus"></i> ADD Employee
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group mb-3">
      <input type="text" class="form-control" placeholder="Search by name or role" [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()">
    </div>
    <hr />
    <table>
      <thead>
        <tr>
          <th>EmpID</th>
          <th>EmpName</th>
          <th>EmpRole</th>
          <th>EmpEmail</th>
          <th>Available</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of filteredEmployees" [ngStyle]="{'background-color':employee.available?'white': '#E78587'}">
          <td>{{ employee.empId }}</td>
          <td>{{ employee.empName }}</td>
          <td>{{ employee.empRole }}</td>
          <td>{{ employee.empEmail }}</td>
          <td>{{ employee.available ? 'Yes' : 'No' }}</td>
          <td>
            <button class="edit-button btn btn-primary btn-sm" [routerLink]="['edit-employee', employee.empId]">
              <i class="fas fa-edit"></i> Edit
            </button>
            <button class="btn btn-warning btn-sm" [routerLink]="['/employee-page/',employee.empName,employee.empId]">
              <i class="fas fa-eye"></i> View-slots
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>